
body {
    font-family: verdana, sans-serif;
}
header {
    text-align: center;
}
form {
    border: 2px solid;
    padding: 25px;
    background-color: #B8C6C4;
    border-radius: 15px;
    display: inline-block;
}
table, tr, thead{
    background-color: #B8C6C4;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid;
    width: 75%;
}
td {
    border: 1px solid;
    text-align: center;
    margin: 0;
}
#formDiv {
    text-align: center;
}
#employeeTable {
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
#employeeHeader {
    margin-top: 0;
    justify-content: center;
}
#tabRow:hover {
    background-color: #A7CDD2;
}
.overBudget {
    color: red;
    font-weight: bold;
}
#employees {
    text-decoration: underline;
    text-align: center;
}
.budget {
    margin-left: 70%;
    font-weight: bold;
}
